<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video controls autoplay>
  <source src="<%= url_for(@video) + '.mp4' %>"
	  type="video/mp4">
</video>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Back', videos_path %>
