<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video controls autoplay>
  <source src="<%= url_for(@video) + @video.extension %>"
	  type="<%= @video.mime_type %>">
</video>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Back', videos_path %>
